<!DOCTYPE html>

<html> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	<div id="login">
		<p>User <input type="text" id="username"></p>
		<p>Email <input type="text" id="email"></p>
		<p>Password <input type="password" id="password"></p>
		<button onclick="loginUser()">Log In</button>
		<button onclick="newUser()">Create New User</button>
	</div>

	<div id="image">
		<img id="imageTest">

		</img>
		<button onclick="imageTest()">Image Test</button>
	</div>

	<style>
		
	</style>

	<script>	
		function newUser() {
      var uname = document.getElementById("username").value;	
			var pword = document.getElementById("password").value;
			var email = document.getElementById("email").value;

			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					const token = JSON.parse(this.responseText);
					if (token.message == "failed"){
						console.log('failed to login');
						window.alert('could not create account. Please try again!');
						return;
					};
					console.log(token);
					window.localStorage.setItem("token", token.token);
					var storageToken = localStorage.getItem("token");
					verifyToken(storageToken);
				};
			};
			xhttp.open("POST", "/newUsers", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send("uname=" + uname + "&pword=" + pword + "&email=" + email);
		};

		function loginUser() {
			var xhttp = new XMLHttpRequest();
      var storedToken = localStorage.getItem("token");
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var page = this.response;
					console.log(page);
					//window.location = this.response;
					document.write(page);
				};
			};
			xhttp.open("POST", "/loginUser", true);
			console.log(storedToken);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send("token=" + storedToken);
		};

		function verifyToken(token) {
			console.log(token);
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					
				};
			};
			xhttp.open("POST", "/users/tokenPage", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send("token=" + token);
		};

		function imageTest() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					document.getElementById("imageTest").setAttribute('src', 'data:image/png;base64,' + this.response);
				};
			};
			xhttp.open("GET", "/image", true);
			xhttp.send();
		};
	</script>
</body>
</html>
